* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body {
  width: 100%;
 font:normal 100%  "microsoft yahei";
  -webkit-touch-callout: inherit ;
  -webkit-user-select: auto ;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
table {border-collapse:collapse;border-spacing:0; outline: 0;}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
dt,dd {
  display: inline-block;
}
textarea,input {
  resize: none;
  outline: none;
  
}

ul,ol,li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6,em{font-weight:normal; } 
.cb{clear:both; height:0px; margin:0; padding:0; width:0; border:none; overflow:hidden;}
.fl{float:left; }
.fr{float:right;}
.dis{display:block;}
.ndis{display:none;}
.disin{display:inline;}
/*间距类*/
.mv5{margin:5px 0;}
.mh5{margin:0 0.125rem;}
.ml5{margin-left:0.125rem;}
.mr5{margin-right:0.125rem;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mv10{margin:10px 0;}
.mh10{margin:0 0.25rem;}
.ml10{margin-left:0.25rem;}
.mr10{margin-right:0.25rem;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mv15{margin:15px 0;}
.mh15{margin:0 0.375rem;}
.ml15{margin-left:0.375rem;}
.mr15{margin-right:0.375rem;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.mv20{margin:20px 0;}
.mh20{margin:0 0.5rem;}
.ml20{margin-left:0.5rem;}
.mr20{margin-right:0.5rem;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mv25{margin:25px 0;}
.mh25{margin:0 0.625rem;}
.ml25{margin-left:0.625rem;}
.mr25{margin-right:0.625rem;}
.mt25{margin-top:25px;}
.mb25{margin-bottom:25px;}
.mv30{margin:30px 0;}
.mh30{margin:0 0.75rem;}
.ml30{margin-left:0.75rem;}
.mr30{margin-right:0.75rem;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.pv5{padding:5px 0;}
.ph5{padding:0 0.125rem;}
.pl5{padding-left:0.125rem;}
.pr5{padding-right:0.125rem;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pv10{padding:10px 0;}
.ph10{padding:0 0.25rem;}
.pl10{padding-left:0.25rem;}
.pr10{padding-right:0.25rem;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pv15{padding:15px 0;}
.ph15{padding:0 0.375rem;}
.pl15{padding-left:0.375rem;}
.pr15{padding-right:0.375rem;}
.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}
.pv20{padding:20px 0;}
.ph20{padding:0 0.5rem;}
.pl20{padding-left:0.5rem;}
.pr20{padding-right:0.5rem;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pv25{padding:25px 0;}
.ph25{padding:0 0.625rem;}
.pl25{padding-left:0.625rem;}
.pr25{padding-right:0.625rem;}
.pt25{padding-top:25px;}
.pb25{padding-bottom:25px;}


.pv30{padding:30px 0;}
.ph30{padding:0 0.75rem;}
.pl30{padding-left:0.75rem;}
.pr30{padding-right:0.75rem;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh25{line-height:25px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.lh45{line-height:45px;}
/*位置类*/
.clearfix:after {content:"";height:0;display:block;clear:both;}
.clearfix {zoom:1;}
.wsn{ white-space:nowrap}
.b{ font-weight:bold}
.pr{position:relative;}
.pa{position:absolute;}
.tr{text-align:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tj{text-align:justify;}
.ti2{text-indent:2em;}
.vat{vertical-align:top;}
.vab{vertical-align:bottom;}
.vam{vertical-align:middle;}
.vatt{vertical-align:text-top}
.vatb{vertical-align:text-bottom}
.colf00{ color:#f00;}
.col333{ color:#333;}
.col555{ color:#555;}
.col666{ color:#666;}
.col63{ color:#636363;}
.col888{ color:#888;}
.col999{ color:#999;}
.col000{ color:#000;}
.colf60{ color:#f60;}
.colfff{ color:#fff;}
.colf90{ color:#f90;}
